$black-pearl: #062032;
$tuscany: #c6702e;
$hippie-blue: #4da3a8;
$jelly-bean: #2c75ae;
$astronaut: #255b75;
$elephant: #154359;
$goblin: #3f784f;
$emperor: #514546;
$plantation: #264033;
/*myColors*/
$text: #dae3d8;
$backgoundApp: #0b2c40;
$widgetBackgound: #031e2d;
$lightMarks: #7ac8ccde;
$orangeBar: #ff5723;
$orangeDarkBar: #ec5423;
$yellowBar: #e0ad0b;
$link: #d7a95f;
$yellowDarkBar: #ffc109;
$blueBar: #42a5f5;
$greenBar: #67bb6a;
$greenDarkBar: #4b925f;

$closeButton: #ec3a23b1;